# Configuration file

####################
# misc
####################

misc {
    B:ForceShowFrameOverlays=false
    B:UseAlternateGlyphs=false
}


####################
# overrides
####################

overrides {
    B:DisableParticles=false
    B:DisableSounds=false
}


####################
# portal
####################

portal {
    B:FasterPortalCooldown=false
    B:PortalsDestroyBlocks=true
}


####################
# power
####################

power {
    I:PowerMultiplier=1
    B:RequirePower=false
}


####################
# recipes
####################

recipes {
    B:DisableTERecipes=false
    B:DisableVanillaRecipes=false
}


