# Configuration file

####################
# block
####################

block {
    I:CompactWindmill=2545
}


####################
# general
####################

general {
    # If rotors will be rendered in-game.
    B:specialRender=true
    B:useIC2Stuff=false
}


####################
# item
####################

item {
    I:rotorAlloy=19530
    I:rotorCarbon=19531
    I:rotorCloth=19532
    I:rotorIridium=19533
    I:rotorWood=19534
}


