# Configuration file

"dungeon loot chances" {
    I:averageLengtheningCatalyst=10
    I:averagePowerCatalyst=10
    I:greaterLengtheningCatalyst=5
    I:greaterPowerCatalyst=5
    I:mundaneLengtheningCatalyst=20
    I:mundanePowerCatalyst=20
    I:standardBindingAgent=30
}


meteor {
    S:diamondMeteor <
        oreDiamond
        25
        oreEmerald
        18
        oreCinnabar
        50
        oreAmber
        50
     >
    I:diamondMeteorRadius=5
    B:doMeteorsDestroyBlocks=false
    S:ironBlockMeteor <
        oreIron
        100
        oreGold
        7
        oreCopper
        50
        oreTin
        35
        oreSilver
        17
        oreLead
        20
        oreLapis
        15
        oreRedstone
        25
     >
    I:ironBlockMeteorRadius=7
    I:maxChance=1000
    S:netherStarMeteor <
        oreDiamond
        37
        oreEmerald
        25
        oreQuartz
        62
        oreSunstone
        1
        oreMoonstone
        12
        oreIridium
        1
        oreCertusQuartz
        37
     >
    I:netherStarMeteorRadius=3
    S:stoneBlockMeteor <
        oreCoal
        37
        oreApatite
        12
        oreIron
        12
     >
    I:stoneMeteorRadius=16
}


orecrushing {
    S:allowedOres <
        iron
        gold
        copper
        tin
        lead
        silver
        osmium
     >
}


"potion id" {
    I:Boost=100
    I:Drowning=101
    I:FireFuse=102
    I:FlameCloak=103
    I:Flight=104
    I:HeavyHeart=105
    I:IceCloak=106
    I:Inhibit=107
    I:PlanarBinding=108
    I:ProjProt=109
    I:Reciprocation=110
}


wimpysettings {
    B:IDontLikeFun=false
    B:RespawnWithLowerHealth=false
}


