# Configuration file

####################
# custom branding
####################

"custom branding" {
    B:"Enable the Branding module?"=true
    S:"Menu Splash Text"=Welcome to Beyond Reality
    S:"Text to display in the bottom left of the screen"=Beyond Reality 2.0.5
    S:"Text to display in the bottom right of the screen"=Visit us on the web www.McBeyondReality.com
    S:"Text to display in the top left of the screen"=
    S:"Text to display in the top right of the screen"=
    S:"The window title"=
}


####################
# custom capes: not yet implemented
####################

"custom capes: not yet implemented" {
    B:"Enable the Cape module?"=false
    S:"The cape repo url"=cape repo url
    S:"The default cape url"=default cape url
}


####################
# custom codex
####################

"custom codex" {
    B:"Enable the Codex module?"=false
    S:"The book author"=Dyonovan
    S:"The book title"=Beyond Reality Information
    S:"The contents of the book, use ; to make a new page"=Contents of the book
}


####################
# custom server
####################

"custom server" {
    B:"Enable the Server module?"=true
    B:"Hide the server address"=false
    S:"The name of the server"=Beyond Reality Official Server
    S:"The server address"=mcbeyondreality.com:25572
}


