# Configuration file

"custom blocks" {
    B:"Enable AIM?"=false
    B:"Enable Custom Blocks?"=true
    B:"Enable Ore Blocks?"=false
    B:"Enable Unbreakable Blocks?"=false
    I:"Number of Unbreakable blocks (1-16)"=1
    I:"Number of custom blocks"=30
}


"end settings" {
    S:"Blocks the Endermen Don't want you to take" <
        minecraft:end_stone
        gregtech:gt.blockores
     >
    I:"Enderman Range for block breaks"=16
}


general {
    B:"Overwrite leaf decay?"=false
    B:"Use right click handler?"=true
    S:"Whitelisted Items for right click" <
        minecraft:stone_pickaxe
        Thaumcraft:ItemPickThaumium
        minecraft:diamond_pickaxe
        Botania:manasteelPick
        minecraft:iron_pickaxe
        appliedenergistics2:item.ToolCertusQuartzPickaxe
        appliedenergistics2:item.ToolNetherQuartzPickaxe
        Railcraft:tool.steel.pickaxe
        Thaumcraft:ItemPickVoid
     >
}


items {
    B:"Enable Custom Ore Items?"=false
    B:"Enable Spawn Building Item? (Requires RecurrentComplex)"=false
    S:"Name of schematic to spawn"=test
}


"main menu settings" {
    S:"Bottom Left Branding" <
        Forge 1.7.10-10.13.4.1614
        Beyond Reality 2.5.0-r1
        Backup your worlds!
     >
    S:"Main Menu Sayings" <
        Beyond Reality Extending your maps since 2013 �
        Why Greg! WHY?
        If you can't take the Greg, get out of the modpack
        Where is the Tin?
        Spoiler Alert.. This pack maybe hard.
        I need a what for what?
     >
    S:"Main Menu Screen"=background.png
    S:"Main Menu Title"=title.png
}


"nether settings" {
    S:"Blocks the Pigmen Don't want you to take" <
        gregtech:gt.blockores
        minecraft:quartz_ore
     >
    I:"Pigmen Range for block breaks"=16
}
