# Local Server Changes

# Tinkers Construct
# Remove SDX
recipes.remove(<TConstruct:explosive.slime:*>);

# Factorization
# Recipe for Diamond Shards
recipes.addShapeless(<factorization:diamond_shard> * 18, [<minecraft:diamond_block>,<minecraft:tnt>]);

# Phneumaticraft
# Recipe for Compressed Iron
recipes.addShapeless(<PneumaticCraft:ingotIronCompressed> * 6, [<minecraft:iron_ingot>,<minecraft:tnt>,<minecraft:iron_ingot>,<minecraft:iron_ingot>,
                                                            <minecraft:iron_ingot>,<minecraft:iron_ingot>,<minecraft:iron_ingot>,<minecraft:iron_ingot>,
                                                            <minecraft:iron_ingot>]);


