# Local Server Changes

# Phneumaticraft
# Recipe for Compressed Iron
recipes.addShapeless(<PneumaticCraft:ingotIronCompressed> * 6, [<minecraft:iron_ingot>,<minecraft:tnt>,<minecraft:iron_ingot>,<minecraft:iron_ingot>,
                                                            <minecraft:iron_ingot>,<minecraft:iron_ingot>,<minecraft:iron_ingot>,<minecraft:iron_ingot>,
                                                            <minecraft:iron_ingot>]);
															
recipes.remove(<BuildCraft|Factory:machineBlock>);


