# Configuration file

####################
# settings
####################

settings {
    S:"Text to display on the left side"=Beyond Reality 1.6.3
    S:"Text to display on the right side"=Visit us on the web www.McBeyondReality.com
}


