# Configuration file

####################
# block
####################

block {
    I:BUDBlockId=2620
    I:angelBlock=2621
    I:chandelierId=2622
    I:cobblestoneComprId=2623
    I:colorBlockBrickId=2624
    I:colorBlockDataId=2625
    I:coloredWoodId=2626
    I:conveyorId=2627
    I:cursedEarth=2628
    I:curtainId=2629
    I:decorative_1Id=2630
    I:decorative_2Id=2631
    I:drumId=2632
    I:enderLilyId=2633
    I:enderThermicPumpId=2634
    I:etherealBlockId=2635
    I:filingCabinetId=2636
    I:greenScreen=2637
    I:intangibleLightId=2638
    I:magnumTorchId=2639
    I:peacefultableId=2640
    I:portal=2641
    I:soundMufflerId=2642
    I:spikeId=2643
    I:timerBlockId=2644
    I:tradingPost=2645
    I:transferNodeId=2646
    I:transferPipeId=2647
    I:trashCan=2648
}


####################
# client_options
####################

client_options {
    B:disablePortalAnimation=false
}


####################
# item
####################

item {
    I:buildersWandId=20950
    I:creativeBuildersWandId=20951
    I:destructionPickaxe=20952
    I:divisionSigilId=20953
    I:erosionShovel=20954
    I:ethericSword=20955
    I:goldenBagId=20956
    I:goldenLassoId=20957
    I:healingAxe=20958
    I:paintBrush=20959
    I:scannerId=20960
    I:sonarGogglesId=20961
    I:temporalHoe=20962
    I:unstableIngotId=20963
    I:upgradeNodeId=20964
    I:wateringCanId=20965
}


####################
# options
####################

options {
    B:allNonNanillaDimensionsValidForEnderPump=false
    I:deepDarkDimensionID=-40
    B:unstableIngotsExplode=true
    I:validDimensionsForEnderPump <
        -1
     >
}


####################
# recipes
####################

recipes {
    B:disableAdvBUDBlockRecipe=false
    B:disableAdvFilingCabinet=false
    B:disableAngelBlockRecipe=false
    B:disableBUDBlockRecipe=false
    B:disableBuildersWandRecipe=false
    B:disableChandelierRecipe=false
    B:disableColoredBricksRecipe=false
    B:disableColoredWoodPlanksRecipe=false
    B:disableCompressedCobblestoneRecipe=false
    B:disableConveyorRecipe=false
    B:disableCurtainRecipe=false
    B:disableDestructionPickaxeRecipe=false
    B:disableDivisionSiginInChests=false
    B:disableDrumRecipe=false
    B:disableEnderLiliesInDungeons=false
    B:disableEnderThermicPumpRecipe=false
    B:disableErosionShovelRecipe=false
    B:disableEtherealGlassRecipe=false
    B:disableEthericSwordRecipe=false
    B:disableFilingCabinet=false
    B:disableFilterPipeRecipe=false
    B:disableFilterRecipe=false
    B:disableGoldenBagRecipe=false
    B:disableGoldenLassoRecipe=false
    B:disableHealingAxeRecipe=false
    B:disableMagnumTorchRecipe=false
    B:disableNodeUpgradeSpeedRecipe=false
    B:disableObsidianRecipe=false
    B:disablePaintbrushRecipe=false
    B:disablePeacefulTableRecipe=false
    B:disablePeacefulWitherRecipe=false
    B:disableRainMufflerRecipe=false
    B:disableRationingPipeRecipe=false
    B:disableRedstoneClockRecipe=false
    B:disableReversingHoeRecipe=false
    B:disableSonarGogglesRecipe=false
    B:disableSortingPipeRecipe=false
    B:disableSoundMufflerRecipe=false
    B:disableSpikeRecipe=false
    B:disableTradingPostRecipe=false
    B:disableTransferNodeEnergyRecipe=false
    B:disableTransferNodeLiquidRecipe=false
    B:disableTransferNodeRecipe=false
    B:disableTransferPipeRecipe=false
    B:disableTrashCanRecipe=false
    B:disableUnstableIngotRecipe=false
    B:disableWateringCanRecipe=false
    I:maxCompressedCobblestone=8
    B:maxCompressedCobblestoneLevel=false
}


