# Configuration file

####################
# block
####################

block {
    I:blockNuclearControlMain=1800
}


####################
# general
####################

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    S:httpSensorKey=2276d00986484f64b5036234d985c98a
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailable=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20
    I:remoteThermalMonitorEnergyConsumption=1
}


####################
# item
####################

item {
    I:itemCounterSensorKit=9000
    I:itemCounterSensorLocationCard=9001
    I:itemEnergyArrayLocationCard=9002
    I:itemEnergySensorKit=9003
    I:itemEnergySensorLocationCard=9004
    I:itemRangeUpgrade=9005
    I:itemRemoteSensorKit=9006
    I:itemSensorLocationCard=9007
    I:itemTextCard=9008
    I:itemTimeCard=9009
    I:itemToolDigitalThermometer=9010
    I:itemToolThermometer=9011
}


