# Configuration file

####################
# block
####################

block {
    I:naquadahBlock=2980
    I:naquadahOre=2981
    I:stargateBase=2982
    I:stargateController=2983
    I:stargateRing=2984
}


####################
# dhd
####################

dhd {
    I:linkRangeX=10
    I:linkRangeY=10
    I:linkRangeZ=10
}


####################
# item
####################

item {
    I:naquadah=23870
    I:naquadahIngot=23871
    I:sgControllerCrystal=23872
    I:sgCoreCrystal=23873
}


####################
# naquadah
####################

naquadah {
    I:genIsolatedOdds=8
    I:genUnderLavaOdds=4
    I:maxIsolatedNodes=4
    I:maxNodesUnderLava=8
}


####################
# options
####################

options {
    B:ActiveGateExplosion=true
    B:RenderHD=true
    B:addOresToExistingWorlds=false
    B:allowCraftingCrystals=false
    B:allowCraftingNaquadah=false
    B:enableNaquadahOre=true
}


####################
# stargate
####################

stargate {
    B:GalacticCraftCompat=true
    B:GenerateStructures=true
    B:closeFromEitherEnd=true
    I:gateOpeningsPerFuelItem=24
    I:minutesOpenPerFuelItem=80
    B:oneWayTravel=false
    I:secondsToStayOpen=300
}


####################
# villagers
####################

villagers {
    I:tokra=100
}


