# Configuration file

####################
# block
####################

block {
    I:BlockAiry=3030
    I:BlockArcaneDoor=3031
    I:BlockArcaneFurnace=3032
    I:BlockCandle=3033
    I:BlockChestHungry=3034
    I:BlockCosmeticOpaque=3035
    I:BlockCosmeticSolid=3036
    I:BlockCrystal=3037
    I:BlockCustomOre=3038
    I:BlockCustomPlant=3039
    I:BlockFluxGas=3040
    I:BlockFluxGoo=3041
    I:BlockHole=3042
    I:BlockJar=3043
    I:BlockLifter=3044
    I:BlockMagicalLeaves=3045
    I:BlockMagicalLog=3046
    I:BlockManaPod=3047
    I:BlockMetalDevice=3048
    I:BlockMirror=3049
    I:BlockStoneDevice=3050
    I:BlockTable=3051
    I:BlockTaint=3052
    I:BlockTaintFibres=3053
    I:BlockTube=3054
    I:BlockWarded=3056
    I:BlockWoodenDevice=3055
}


####################
# enchantments
#===================
# Custom enchantments
####################

enchantments {
    I:ench_frugal=151
    I:ench_haste=153
    I:ench_potency=150
    I:ench_repair=154
    I:ench_wandfortune=152
    I:potion_fluxtaint=30
    I:potion_shoulshatter=29
}


####################
# entities
#===================
# Entity id's
####################

entities {
    I:alumentum=200
    I:aspectorb=201
    I:dart=202
    I:fallingtaint=203
    I:firebat=204
    I:followitem=205
    I:frostshard=206
    I:giantsmartzombie=207
    I:golem=208
    I:pech=209
    I:pech_blast=210
    I:primal_orb=229
    I:smartzombie=211
    I:specialitem=212
    I:taint_chicken=213
    I:taint_cow=214
    I:taint_creeper=215
    I:taint_pig=216
    I:taint_sheep=217
    I:taint_spore=218
    I:taint_spore_swarmer=219
    I:taint_swarm=220
    I:taint_villager=221
    I:taintacle=222
    I:taintacle_small=223
    I:taintspider=224
    I:thaumicslime=225
    I:traveling_trunk=228
    I:wisp=226
    I:wizardvillager=227
}


####################
# general
####################

general {
    # Enables a version of the Thauminomicon in creative mode that grants you all the research when you first use it.
    B:allow_cheat_sheet=true

    # Setting this to false will disable arcane mirror research and crafting recipes.
    B:allow_mirrors=true

    # If set to false, warded stone, doors and glass will just be cosmetic in nature and not have its hardened properties (everyone will be able to break it with equal ease).
    B:allow_warded_stone=true

    # Set this to true to get the old blue magical forest back.
    B:blue_magical_forest=false

    # Setting this to true will make certain colors higher contrast or darker to prevent them from being 'invisible' to color blind people.
    B:color_blind=false

    # Hate crooked labels, kittens, puppies and all things awesome? If yes, set this to false.
    B:crooked=true

    # Item aspects are hidden by default and pressing shift reveals them. Changing this setting to 'true' will reverse this behaviour and always display aspects unless shift is pressed.
    B:display_aspects=false

    # If set to true golems will attempt to play the chest opening animations and sounds whenever they interact with them.
    B:golem_chest_interact=true

    # How many ticks a golem waits between checking for tasks. Setting it higher will save server ticks, but will make the golems slower to react.
    I:golem_delay=5

    # The fx quality of the line connecting golems to marked blocks. Setting this below 4 deactives the effect entirely.
    I:golem_link_quality=16

    # Negative nodes like hungry, tainted or dark nodes will have additional, much nastier, effects.
    B:hard_mode_nodes=true

    # How rare nodes are in the world. The number means there will be (on average) one node per N chunks.
    I:node_rarity=30

    # Determines how fast notifications scroll downards.
    I:notification_delay=5000

    # The maximum amount of notifications that are displayed onscreen.
    I:notification_max=15

    # This is a comma-delimited list of any block-id's the portable hole is not allowed to pass through.
    S:portablehole_blacklist=71

    # The chance of a node being special (pure, dark, unstable, etc.). The number means roughly 1 in N nodes will be special, so setting the number to 5 will mean 1 in 5 nodes may be special.
    I:special_node_rarity=16

    # Set to true to have the wand dial display in the bottom left instead of the top left.
    B:wand_dial_bottom=false
}


####################
# item
####################

item {
    I:ArcaneDoorKey=24500
    I:BlockJarFilledItem=24501
    I:BlockJarNodeItem=24502
    I:BootsTraveller=24503
    I:BowBone=24559
    I:ElementalAxe=24504
    I:ElementalHoe=24505
    I:ElementalPickaxe=24506
    I:ElementalShovel=24507
    I:ElementalSword=24508
    I:FocusExcavation=24509
    I:FocusFire=24510
    I:FocusFrost=24511
    I:FocusHellbat=24512
    I:FocusPech=24513
    I:FocusPortableHole=24514
    I:FocusPouch=24515
    I:FocusPrimal=24560
    I:FocusShock=24516
    I:FocusTrade=24517
    I:FocusWarding=24561
    I:GolemBell=24518
    I:GolemUpgrade=24519
    I:HandMirror=24520
    I:HoverHarness=24521
    I:ItemArcaneDoor=24522
    I:ItemEssence=24523
    I:ItemGoggles=24524
    I:ItemGolemCore=24525
    I:ItemGolemDecoration=24526
    I:ItemGolemPlacer=24527
    I:ItemInkwell=24528
    I:ItemManaBean=24529
    I:ItemNugget=24530
    I:ItemNuggetBeef=24531
    I:ItemNuggetChicken=24532
    I:ItemNuggetFish=24533
    I:ItemNuggetPork=24534
    I:ItemResearchNotes=24535
    I:ItemResource=24536
    I:ItemShard=24537
    I:ItemThaumometer=24538
    I:ItemThaumonomicon=24539
    I:ItemWispEssence=24540
    I:PhotoPlate=24541
    I:Resonator=24562
    I:Robeboots=24542
    I:Robechest=24543
    I:Robelegs=24544
    I:Runicboots=24563
    I:Runicbootstraveller=24564
    I:Runicchest=24565
    I:Runicgoggles=24566
    I:Runichelm=24567
    I:Runiclegs=24568
    I:ThaumPick=24545
    I:Thaumaxe=24546
    I:Thaumboots=24547
    I:Thaumchest=24548
    I:Thaumhelm=24549
    I:Thaumhoe=24550
    I:ThaumicCamera=24551
    I:Thaumlegs=24552
    I:Thaumshovel=24553
    I:Thaumsword=24554
    I:TravelingTrunkItem=24569
    I:TripleMeatTreat=24555
    I:WandCap=24556
    I:WandCasting=24557
    I:WandRod=24558
}


####################
# monster_spawning
#===================
# Will these mobs spawn
####################

monster_spawning {
    B:spawn_angry_zombies=true
    B:spawn_fire_bats=true
    B:spawn_pechs=true
    B:spawn_taint_spores=true
    B:spawn_taintacles=true
    B:spawn_wisps=true
}


####################
# research
#===================
# Various research related things.
####################

research {
    # You will not be able to get more RP or essentia from an item per aspect than this amount.
    I:aspect_cap=8

    # The total amount of RP you can have in your pool per aspect before the scanning soft cap kicks in.
    I:aspect_total_cap=64

    # 0 = normal, -1 = easy (all research items are directly purchased with RP), 1 = Hard (all research items need to be solved via the research table)
    I:research_difficulty=0
}


####################
# taint
#===================
# Biomes and effects
####################

taint {
    # Eerie biome id
    I:biome_eerie=245

    # Magical Forest biome id
    I:biome_magical_forest=246

    # Taint biome id
    I:biome_taint=247

    # The chance per chunk (1 in n) of a Taint biome spawning during world gen. Setting it to 0 prevents the spawning of Taint biomes.
    I:biome_taint_chance=2000

    # Can Taint be caused by flux effects.
    B:biome_taint_from_flux=true

    # The chance per block update (1 in n) of the Taint biome spreading. Setting it to 0 prevents the spread of Taint biomes.
    I:biome_taint_spread=200
}


####################
# world_generation
#===================
# Settings to turn certain world-gen on or off.
####################

world_generation {
    B:generate_amber_ore=true
    B:generate_aura_nodes=true
    B:generate_cinnibar_ore=true
    B:generate_infused_stone=true
    B:generate_structures=true
    B:generate_taint=true
    B:generate_trees=true
}


####################
# world_regeneration
#===================
# If a chunk is encountered that skipped TC worldgen, then the game will attempt to regenerate certain world features if they are set to true. CAUTION: Best used for worlds created before you added this mod, and only if you know what you are doing. Backups are advised.
####################

world_regeneration {
    B:amber_ore=false
    B:aura_nodes=false
    B:cinnibar_ore=false
    B:infused_stone=false

    # This key is used to keep track of which chunk have been generated/regenerated. Changing it will cause the regeneration code to run again, so only change it if you want it to happen. Useful to regen only one world feature at a time.
    S:regen_key=DEFAULT
    B:structures=false
    B:taint=false
    B:trees=false
}


