# Configuration file

####################
# block
####################

block {
    I:"id_tile.ttinkerer:animationTablet"=3070
    I:"id_tile.ttinkerer:darkQuartz"=3071
    I:"id_tile.ttinkerer:darkQuartzSlab"=3072
    I:"id_tile.ttinkerer:darkQuartzSlabFull"=3073
    I:"id_tile.ttinkerer:darkQuartzStairs"=3074
    I:"id_tile.ttinkerer:dislocator"=3082
    I:"id_tile.ttinkerer:enchanter"=3075
    I:"id_tile.ttinkerer:funnel"=3076
    I:"id_tile.ttinkerer:gaseousLight"=3077
    I:"id_tile.ttinkerer:gaseousShadow"=3078
    I:"id_tile.ttinkerer:interface"=3079
    I:"id_tile.ttinkerer:magnet"=3080
    I:"id_tile.ttinkerer:nitorGas"=3081
    I:"id_tile.ttinkerer:repairer"=3083
}


####################
# enchantments
####################

enchantments {
    I:"id_enchant.ttinkerer:ascentBoost"=220
    I:"id_enchant.ttinkerer:autoSmelt"=222
    I:"id_enchant.ttinkerer:desintegrate"=223
    I:"id_enchant.ttinkerer:quickDraw"=224
    I:"id_enchant.ttinkerer:slowFall"=221
    I:"id_enchant.ttinkerer:vampirism"=225
}


####################
# item
####################

item {
    I:"id_item.ttinkerer:bloodSword"=22166
    I:"id_item.ttinkerer:brightNitor"=24900
    I:"id_item.ttinkerer:cleansingTalisman"=24901
    I:"id_item.ttinkerer:connector"=24902
    I:"id_item.ttinkerer:darkQuartz"=24903
    I:"id_item.ttinkerer:focusDislocation"=24904
    I:"id_item.ttinkerer:focusEnderChest"=22165
    I:"id_item.ttinkerer:focusFlight"=24905
    I:"id_item.ttinkerer:focusHeal"=24906
    I:"id_item.ttinkerer:focusSmelt"=24907
    I:"id_item.ttinkerer:focusTelekinesis"=24908
    I:"id_item.ttinkerer:gasRemover"=24909
    I:"id_item.ttinkerer:gaseousLight"=24910
    I:"id_item.ttinkerer:gaseousShadow"=24911
    I:"id_item.ttinkerer:infusedInkwell"=22168
    I:"id_item.ttinkerer:revealingHelm"=22167
    I:"id_item.ttinkerer:soulMould"=24912
    I:"id_item.ttinkerer:spellCloth"=24913
    I:"id_item.ttinkerer:xpTalisman"=24914
}


