# Configuration file

####################
# block
####################

block {
    I:LiquidCyaniteStill=3700
    I:LiquidFuelColumnStill=3701
    I:LiquidYelloriumStill=3702
    I:ReactorControlRod=3703
    I:ReactorGlass=3704
    I:ReactorPart=3705
    I:SmallMachine=3706
    I:YelloriteOre=3707
    I:YelloriumFuelRod=3708
}


####################
# compatibility
####################

compatibility {
    # If true, automatically adds all unregistered ingots found as clonesof standard yellorium fuel
    B:autoAddUranium=true
}


####################
# general
####################

general {
    I:maxReactorHeight=48
    I:maxReactorSize=32
    D:powerProductionMultiplier=1.0
}


####################
# item
####################

item {
    I:BucketCyanite=27100
    I:BucketYellorium=27101
    I:IngotYellorium=27102
}


####################
# recipes
####################

recipes {
    B:registerCharcoalForSmelting=true
    B:registerCoalForSmelting=true
    B:registerGraphiteCharcoalCraftingRecipes=false
    B:registerGraphiteCoalCraftingRecipes=false
}


####################
# worldgen
####################

worldgen {
    B:GenerateYelloriteOre=true
    I:YelloriteClustersPerChunk=4
    I:YelloriteDimensionBlacklist <
     >
    I:YelloriteMaxY=50
    D:YelloriteOreGenBaseChance=0.75
    D:YelloriteOreGenChanceMultiplier=0.5
    I:YelloriteOrePerCluster=4
    B:enableWorldGen=true
    B:enableWorldGenInNegativeDims=false
    B:enableWorldRegeneration=false
    I:userWorldGenVersion=0
}


