# Configuration file

####################
# symbol
####################

symbol {
    B:bioconhuge.enabled=true
    B:bioconlarge.enabled=true
    B:bioconmedium.enabled=true
    B:bioconnative.enabled=true
    B:bioconsingle.enabled=true
    B:bioconsmall.enabled=true
    B:biocontiled.enabled=true
    B:biocontiny.enabled=true
    B:biome0.enabled=true
    B:biome1.enabled=true
    B:biome10.enabled=true
    B:biome100.enabled=true
    B:biome101.enabled=true
    B:biome102.enabled=true
    B:biome103.enabled=true
    B:biome104.enabled=true
    B:biome105.enabled=true
    B:biome106.enabled=true
    B:biome107.enabled=true
    B:biome108.enabled=true
    B:biome109.enabled=true
    B:biome11.enabled=true
    B:biome110.enabled=true
    B:biome111.enabled=true
    B:biome112.enabled=true
    B:biome113.enabled=true
    B:biome114.enabled=true
    B:biome115.enabled=true
    B:biome116.enabled=true
    B:biome117.enabled=true
    B:biome118.enabled=true
    B:biome119.enabled=true
    B:biome12.enabled=true
    B:biome120.enabled=true
    B:biome121.enabled=true
    B:biome122.enabled=true
    B:biome123.enabled=true
    B:biome124.enabled=true
    B:biome125.enabled=true
    B:biome126.enabled=true
    B:biome127.enabled=true
    B:biome128.enabled=true
    B:biome129.enabled=true
    B:biome13.enabled=true
    B:biome130.enabled=true
    B:biome131.enabled=true
    B:biome132.enabled=true
    B:biome133.enabled=true
    B:biome134.enabled=true
    B:biome135.enabled=true
    B:biome136.enabled=true
    B:biome137.enabled=true
    B:biome138.enabled=true
    B:biome139.enabled=true
    B:biome14.enabled=true
    B:biome140.enabled=true
    B:biome141.enabled=true
    B:biome142.enabled=true
    B:biome143.enabled=true
    B:biome144.enabled=true
    B:biome145.enabled=true
    B:biome146.enabled=true
    B:biome147.enabled=true
    B:biome148.enabled=true
    B:biome149.enabled=true
    B:biome15.enabled=true
    B:biome150.enabled=true
    B:biome151.enabled=true
    B:biome152.enabled=true
    B:biome153.enabled=true
    B:biome154.enabled=true
    B:biome155.enabled=true
    B:biome156.enabled=true
    B:biome157.enabled=true
    B:biome158.enabled=true
    B:biome159.enabled=true
    B:biome16.enabled=true
    B:biome160.enabled=true
    B:biome161.enabled=true
    B:biome162.enabled=true
    B:biome163.enabled=true
    B:biome164.enabled=true
    B:biome165.enabled=true
    B:biome166.enabled=true
    B:biome167.enabled=true
    B:biome168.enabled=true
    B:biome169.enabled=true
    B:biome17.enabled=true
    B:biome170.enabled=true
    B:biome171.enabled=true
    B:biome172.enabled=true
    B:biome173.enabled=true
    B:biome174.enabled=true
    B:biome175.enabled=true
    B:biome176.enabled=true
    B:biome177.enabled=true
    B:biome178.enabled=true
    B:biome179.enabled=true
    B:biome18.enabled=true
    B:biome180.enabled=true
    B:biome181.enabled=true
    B:biome182.enabled=true
    B:biome183.enabled=true
    B:biome184.enabled=true
    B:biome185.enabled=true
    B:biome186.enabled=true
    B:biome187.enabled=true
    B:biome188.enabled=true
    B:biome189.enabled=true
    B:biome19.enabled=true
    B:biome190.enabled=true
    B:biome191.enabled=true
    B:biome192.enabled=true
    B:biome193.enabled=true
    B:biome194.enabled=true
    B:biome195.enabled=true
    B:biome196.enabled=true
    B:biome197.enabled=true
    B:biome198.enabled=true
    B:biome199.enabled=true
    B:biome2.enabled=true
    B:biome20.enabled=true
    B:biome200.enabled=true
    B:biome201.enabled=true
    B:biome202.enabled=true
    B:biome203.enabled=true
    B:biome204.enabled=true
    B:biome205.enabled=true
    B:biome206.enabled=true
    B:biome207.enabled=true
    B:biome208.enabled=true
    B:biome209.enabled=true
    B:biome21.enabled=true
    B:biome210.enabled=true
    B:biome211.enabled=true
    B:biome212.enabled=true
    B:biome213.enabled=true
    B:biome214.enabled=true
    B:biome215.enabled=true
    B:biome216.enabled=true
    B:biome217.enabled=true
    B:biome218.enabled=true
    B:biome219.enabled=true
    B:biome22.enabled=true
    B:biome220.enabled=true
    B:biome221.enabled=true
    B:biome222.enabled=true
    B:biome223.enabled=true
    B:biome224.enabled=true
    B:biome225.enabled=true
    B:biome226.enabled=true
    B:biome227.enabled=true
    B:biome228.enabled=true
    B:biome229.enabled=true
    B:biome230.enabled=true
    B:biome231.enabled=true
    B:biome232.enabled=true
    B:biome233.enabled=true
    B:biome234.enabled=true
    B:biome235.enabled=true
    B:biome236.enabled=true
    B:biome237.enabled=true
    B:biome245.enabled=true
    B:biome246.enabled=true
    B:biome247.enabled=true
    B:biome250.enabled=true
    B:biome251.enabled=true
    B:biome252.enabled=true
    B:biome253.enabled=true
    B:biome255.enabled=true
    B:biome28.enabled=true
    B:biome3.enabled=true
    B:biome4.enabled=true
    B:biome47.enabled=true
    B:biome5.enabled=true
    B:biome6.enabled=true
    B:biome60.enabled=true
    B:biome7.enabled=true
    B:biome8.enabled=true
    B:biome9.enabled=true
    B:biome90.enabled=true
    B:biome91.enabled=true
    B:biome92.enabled=true
    B:biome93.enabled=true
    B:biome94.enabled=true
    B:biome95.enabled=true
    B:biome96.enabled=true
    B:biome97.enabled=true
    B:biome98.enabled=true
    B:biome99.enabled=true
    B:caves.enabled=true
    B:colorcloud.enabled=true
    B:colorcloudnat.enabled=true
    B:colorfog.enabled=true
    B:colorfognat.enabled=true
    B:colorfoliage.enabled=true
    B:colorfoliagenat.enabled=true
    B:colorgrass.enabled=true
    B:colorgrassnat.enabled=true
    B:colorhorizon.enabled=true
    B:colorsky.enabled=true
    B:colorskynat.enabled=true
    B:colorskynight.enabled=true
    B:colorwater.enabled=true
    B:colorwaternat.enabled=true
    B:cryform.enabled=true
    B:denseores.enabled=true
    B:dungeons.enabled=true
    B:envaccel.enabled=true
    B:envexplosions.enabled=true
    B:envlightning.enabled=true
    B:envmeteor.enabled=true
    B:envscorch.enabled=true
    B:flat.enabled=true
    B:floatislands.enabled=true
    B:hugetrees.enabled=true
    B:lakesdeep.enabled=true
    B:lakessurface.enabled=true
    B:lightingbright.enabled=true
    B:lightingdark.enabled=true
    B:lightingnormal.enabled=true
    B:mineshafts.enabled=true
    B:modblack.enabled=true
    B:modblue.enabled=true
    B:modclear.enabled=true
    B:modcyan.enabled=true
    B:moddark_green.enabled=true
    B:moddouble.enabled=true
    B:modeast.enabled=true
    B:modend.enabled=true
    B:modfull.enabled=true
    B:modgradient.enabled=true
    B:modgreen.enabled=true
    B:modgrey.enabled=true
    B:modhalf.enabled=true
    B:modmagenta.enabled=true
    B:modmaroon.enabled=true
    B:modmat_fluid.diesel.enabled=true
    B:modmat_fluid.mfr.liquid.biofuel.still.enabled=true
    B:modmat_fluid.mfr.liquid.chocolatemilk.still.enabled=true
    B:modmat_fluid.mfr.liquid.meat.still.enabled=true
    B:modmat_fluid.mfr.liquid.milk.still.enabled=true
    B:modmat_fluid.mfr.liquid.mobessence.still.enabled=true
    B:modmat_fluid.mfr.liquid.mushroomsoup.still.enabled=true
    B:modmat_fluid.mfr.liquid.pinkslime.still.enabled=true
    B:modmat_fluid.mfr.liquid.sewage.still.enabled=true
    B:modmat_fluid.mfr.liquid.sludge.still.enabled=true
    B:modmat_fluid.refinedfuel.enabled=true
    B:modmat_ic2.blockfluidcf.enabled=true
    B:modmat_ic2.blockfluidcoolant.enabled=true
    B:modmat_ic2.blockfluiduumatter.enabled=false
    B:modmat_item.tile.blockdirt.0.enabled=true
    B:modmat_item.tile.glass.0.enabled=true
    B:modmat_item.tile.hellrock.0.enabled=true
    B:modmat_item.tile.ice.0.enabled=true
    B:modmat_item.tile.lightstone.0.enabled=true
    B:modmat_item.tile.netherbrick.0.enabled=true
    B:modmat_item.tile.obsidian.0.enabled=true
    B:modmat_tile.airblocks.naturalgas.enabled=true
    B:modmat_tile.appliedthermodynamics.liquidme.enabled=true
    B:modmat_tile.appliedthermodynamics.mecoolant.enabled=true
    B:"modmat_tile.arsmagica2:liquidessence.enabled"=true
    B:"modmat_tile.atomicscience:toxicwaste.enabled"=true
    B:modmat_tile.blockfluxgoo.enabled=true
    B:modmat_tile.blockfuel.enabled=true
    B:modmat_tile.blockoil.enabled=true
    B:modmat_tile.bop.honey.enabled=true
    B:modmat_tile.bop.liquidpoison.enabled=true
    B:modmat_tile.bop.overgrownnetherrack.enabled=true
    B:modmat_tile.bop.springwater.enabled=true
    B:modmat_tile.dirt.enabled=true
    B:modmat_tile.endergoo.enabled=true
    B:modmat_tile.fanboxfluidport.enabled=true
    B:modmat_tile.fishfood.enabled=true
    B:modmat_tile.fishoil.enabled=true
    B:modmat_tile.fluid.cyanite.still.enabled=true
    B:modmat_tile.fluid.ender.enabled=true
    B:modmat_tile.fluid.fuelcolumn.still.enabled=true
    B:modmat_tile.fluid.yellorium.still.enabled=true
    B:modmat_tile.glass.enabled=true
    B:modmat_tile.hellrock.enabled=true
    B:modmat_tile.highpressurewater.enabled=true
    B:modmat_tile.ice.enabled=true
    B:modmat_tile.lava.enabled=true
    B:modmat_tile.lightgem.enabled=true
    B:modmat_tile.liquid.blood.enabled=true
    B:modmat_tile.liquid.glue.enabled=true
    B:modmat_tile.liquid.slime.enabled=true
    B:modmat_tile.liquidaluminum.enabled=true
    B:modmat_tile.liquidbrass.enabled=true
    B:modmat_tile.liquidbronze.enabled=true
    B:modmat_tile.liquidchromium.enabled=true
    B:modmat_tile.liquidcopper.enabled=true
    B:modmat_tile.liquidcupronickel.enabled=true
    B:modmat_tile.liquidelectrum.enabled=true
    B:modmat_tile.liquidelectrumflux.enabled=true
    B:modmat_tile.liquidenderium.enabled=true
    B:modmat_tile.liquidglass.enabled=true
    B:modmat_tile.liquidgold.enabled=true
    B:modmat_tile.liquidinvar.enabled=true
    B:modmat_tile.liquidiron.enabled=true
    B:modmat_tile.liquidkanthal.enabled=true
    B:modmat_tile.liquidlead.enabled=true
    B:modmat_tile.liquidmanganese.enabled=true
    B:modmat_tile.liquidme.enabled=true
    B:modmat_tile.liquidnichrome.enabled=true
    B:modmat_tile.liquidnickel.enabled=true
    B:modmat_tile.liquidplatinum.enabled=true
    B:modmat_tile.liquidsilver.enabled=true
    B:modmat_tile.liquidstainlesssteel.enabled=true
    B:modmat_tile.liquidsteel.enabled=true
    B:modmat_tile.liquidtin.enabled=true
    B:modmat_tile.liquidtitanium.enabled=true
    B:modmat_tile.liquidzinc.enabled=true
    B:modmat_tile.log.birch.enabled=true
    B:modmat_tile.log.jungle.enabled=true
    B:modmat_tile.log.oak.enabled=true
    B:modmat_tile.log.spruce.enabled=true
    B:modmat_tile.mecoolant.0.enabled=true
    B:modmat_tile.mecoolant.enabled=true
    B:modmat_tile.metal.molten.alubrass.enabled=true
    B:modmat_tile.metal.molten.aluminum.enabled=true
    B:modmat_tile.metal.molten.alumite.enabled=true
    B:modmat_tile.metal.molten.ardite.enabled=true
    B:modmat_tile.metal.molten.bronze.enabled=true
    B:modmat_tile.metal.molten.cobalt.enabled=true
    B:modmat_tile.metal.molten.copper.enabled=true
    B:modmat_tile.metal.molten.electrum.enabled=true
    B:modmat_tile.metal.molten.glass.enabled=true
    B:modmat_tile.metal.molten.gold.enabled=true
    B:modmat_tile.metal.molten.invar.enabled=true
    B:modmat_tile.metal.molten.iron.enabled=true
    B:modmat_tile.metal.molten.lead.enabled=true
    B:modmat_tile.metal.molten.manyullyn.enabled=true
    B:modmat_tile.metal.molten.nickel.enabled=true
    B:modmat_tile.metal.molten.obsidian.enabled=true
    B:modmat_tile.metal.molten.shiny.enabled=true
    B:modmat_tile.metal.molten.silver.enabled=true
    B:modmat_tile.metal.molten.steel.0.enabled=true
    B:modmat_tile.metal.molten.steel.enabled=true
    B:modmat_tile.metal.molten.tin.enabled=true
    B:modmat_tile.molten.emerald.enabled=true
    B:modmat_tile.molten.stone.enabled=true
    B:modmat_tile.moltenmagnesium.enabled=true
    B:modmat_tile.moltenrutile.enabled=true
    B:modmat_tile.moltentitanium.enabled=true
    B:modmat_tile.myst.crystal.enabled=true
    B:modmat_tile.myst.fluid.myst.ink.black.enabled=true
    B:modmat_tile.netherbrick.enabled=true
    B:modmat_tile.netherquartz.enabled=true
    B:modmat_tile.null.enabled=true
    B:modmat_tile.obsidian.enabled=true
    B:modmat_tile.orecoal.enabled=true
    B:modmat_tile.orediamond.enabled=true
    B:modmat_tile.oregold.enabled=true
    B:modmat_tile.oreiron.enabled=true
    B:modmat_tile.projectred.compatability.liqcondredmetal.enabled=true
    B:modmat_tile.projectred.compatability.liqredstone.enabled=true
    B:modmat_tile.projectred.compatibility.liqcondredmetal.enabled=true
    B:modmat_tile.projectred.compatibility.liqredstone.enabled=true
    B:modmat_tile.railcraft.block.fluid.creosote.enabled=true
    B:modmat_tile.railcraft.block.fluid.steam.enabled=true
    B:modmat_tile.sludge.enabled=true
    B:modmat_tile.snow.enabled=true
    B:modmat_tile.stone.enabled=true
    B:modmat_tile.thermalexpansion.fluid.coal.enabled=true
    B:modmat_tile.thermalexpansion.fluid.cryotheum.enabled=true
    B:modmat_tile.thermalexpansion.fluid.ender.enabled=true
    B:modmat_tile.thermalexpansion.fluid.glowstone.enabled=true
    B:modmat_tile.thermalexpansion.fluid.pyrotheum.enabled=true
    B:modmat_tile.thermalexpansion.fluid.redstone.enabled=true
    B:modmat_tile.water.enabled=true
    B:modmat_tile.whitestone.enabled=true
    B:modnavy.enabled=true
    B:modnoon.enabled=true
    B:modnorth.enabled=true
    B:modolive.enabled=true
    B:modpurple.enabled=true
    B:modred.enabled=true
    B:modrising.enabled=true
    B:modsetting.enabled=true
    B:modsilver.enabled=true
    B:modsouth.enabled=true
    B:modteal.enabled=true
    B:modwest.enabled=true
    B:modwhite.enabled=true
    B:modyellow.enabled=true
    B:modzero.enabled=true
    B:moondark.enabled=true
    B:moonnormal.enabled=true
    B:netherfort.enabled=true
    B:nohorizon.enabled=true
    B:nosea.enabled=true
    B:obelisks.enabled=true
    B:pvpoff.enabled=true
    B:rainbow.enabled=true
    B:ravines.enabled=true
    B:skylands.enabled=true
    B:starfissure.enabled=true
    B:starsdark.enabled=true
    B:starsendsky.enabled=true
    B:starsnormal.enabled=true
    B:starstwinkle.enabled=true
    B:strongholds.enabled=true
    B:sundark.enabled=true
    B:sunnormal.enabled=true
    B:tendrils.enabled=true
    B:termodspheres.enabled=true
    B:terrainend.enabled=true
    B:terrainnether.enabled=true
    B:terrainnormal.enabled=true
    B:villages.enabled=true
    B:void.enabled=true
    B:weathercloudy.enabled=true
    B:weatherfast.enabled=true
    B:weathernorm.enabled=true
    B:weatheroff.enabled=true
    B:weatheron.enabled=true
    B:weatherrain.enabled=true
    B:weatherslow.enabled=true
    B:weathersnow.enabled=true
    B:weatherstorm.enabled=true
}


