# Configuration file

category_candelabras {
    B:acacia_candelabra=true
    B:birch_candelabra=true
    B:dark_oak_candelabra=true
    B:iron_candelabra=true
    B:jungle_candelabra=true
    B:oak_candelabra=true
    B:spruce_candelabra=true
}


category_chairs {
    B:acacia_chair=true
    B:birch_chair=true
    B:dark_oak_chair=true
    B:jungle_chair=true
    B:oak_chair=true
    B:spruce_chair=true
}


category_lamps {
    B:acacia_lamp=true
    B:birch_lamp=true
    B:dark_oak_lamp=true
    B:gold_lamp=true
    B:iron_lamp=true
    B:jungle_lamp=true
    B:oak_lamp=true
    B:spruce_lamp=true
}


category_misc {
    B:Spindle=true
}


category_pillars {
    B:acacia_log=true
    B:acacia_pillar=true
    B:andesite_pillar=true
    B:birch_log=true
    B:birch_pillar=true
    B:black_clay_pillar=true
    B:blue_clay_pillar=true
    B:brown_clay_pillar=true
    B:cobblestone_pillar=true
    B:cyan_clay_pillar=true
    B:dark_oak_log=true
    B:dark_oak_pillar=true
    B:diorite_pillar=true
    B:end_stone_pillar=true
    B:granite_pillar=true
    B:gray_clay_pillar=true
    B:green_clay_pillar=true
    B:jungle_log=true
    B:jungle_pillar=true
    B:light_blue_clay_pillar=true
    B:light_gray_clay_pillar=true
    B:lime_clay_pillar=true
    B:magenta_clay_pillar=true
    B:nether_brick_pillar=true
    B:oak_log=true
    B:oak_pillar=true
    B:obsidian_pillar=true
    B:orange_clay_pillar=true
    B:p_andesite_pillar=true
    B:p_diorite_pillar=true
    B:p_granite_pillar=true
    B:pink_clay_pillar=true
    B:purple_clay_pillar=true
    B:purpur_pillar=true
    B:quartz_pillar=true
    B:red_clay_pillar=true
    B:red_sandstone_pillar=true
    B:sandstone_pillar=true
    B:spruce_log=true
    B:spruce_pillar=true
    B:stone_pillar=true
    B:white_clay_pillar=true
    B:yellow_clay_pillar=true
}


category_shelves {
    B:acacia_shelf=true
    B:birch_shelf=true
    B:dark_oak_shelf=true
    B:jungle_shelf=true
    B:oak_shelf=true
    B:spruce_shelf=true
}


category_slabs {
    B:stone_patt10_slab=true
    B:stone_patt11_slab=true
    B:stone_patt12_slab=true
    B:stone_patt1_slab=true
    B:stone_patt2_slab=true
    B:stone_patt3_slab=true
    B:stone_patt4_slab=true
    B:stone_patt5_slab=true
    B:stone_patt6_slab=true
    B:stone_patt7_slab=true
    B:stone_patt8_slab=true
    B:stone_patt9_slab=true
}


category_tables {
    B:acacia_table=true
    B:birch_table=true
    B:dark_oak_table=true
    B:jungle_table=true
    B:oak_table=true
    B:spruce_table=true
}


category_wedges {
    B:acacia_wedge=true
    B:andesite_wedge=true
    B:birch_wedge=true
    B:black_clay_wedge=true
    B:blue_clay_wedge=true
    B:brown_clay_wedge=true
    B:cobblestone_wedge=true
    B:cyan_clay_wedge=true
    B:dark_oak_wedge=true
    B:diorite_wedge=true
    B:dirt_wedge=true
    B:end_stone_wedge=true
    B:granite_wedge=true
    B:grass_path_wedge=true
    B:grass_wedge=true
    B:gray_clay_wedge=true
    B:green_clay_wedge=true
    B:jungle_wedge=true
    B:light_blue_clay_wedge=true
    B:light_gray_clay_wedge=true
    B:lime_clay_wedge=true
    B:magenta_clay_wedge=true
    B:nether_brick_wedge=true
    B:oak_wedge=true
    B:obsidian_wedge=true
    B:orange_clay_wedge=true
    B:osidian_wedge=true
    B:p_andesite_wedge=true
    B:p_granite_wedge=true
    B:pink_clay_wedge=true
    B:purple_clay_wedge=true
    B:purpur_wedge=true
    B:quartz_wedge=true
    B:red_clay_wedge=true
    B:red_sandstone_wedge=true
    B:sandstone_wedge=true
    B:spruce_wedge=true
    B:stone_wedge=true
    B:white_clay_wedge=true
    B:yellow_clay_wedge=true
}


