# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    S:httpSensorKey=255845ba55f04bdb86d9d6d4b38d543e
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailable=false

    # Turns on/off the recipes for the web upgrade client side [default: false]
    B:isHttpSensorAvailableClient=false

    # Turns on/off the recipes for the web upgrade server side [default: true]
    B:isHttpSensorAvailableServer=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20

    # Valid inputs: normal or old [default: normal]
    S:recipes=normal
    I:remoteThermalMonitorEnergyConsumption=1
}


