# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    S:httpSensorKey=255845ba55f04bdb86d9d6d4b38d543e
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailable=false
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20
    I:remoteThermalMonitorEnergyConsumption=1
}


